//SITE_CONTENT
NEXT_PUBLIC_URL=""
SITE_NAME=""
COMPANY_NAME=""
TWITTER_CREATOR=""
TWITTER_SITE=""
AUTHOR_NAME=""

//DATABASE
DATABASE_URL=""

//JWT_SECRET
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="0YvM/z2lD3TKe8amHO8UfOfRSwjxY9pQBFDJzmMBygM="

//NODEMAILER
SMTP_HOST="sandbox.smtp.mailtrap.io"
SMTP_PORT=2525
SMTP_USER=""
SMTP_PASS=""
SMTP_SECURE=false
SMTP_FROM=""
SMTP_TO=""
SMTP_SUBJECT=""


